<div class="reservation-main-header">
  <div class="left-header">
    <div class="header-title">
      <%= 'ご予約の状況：すべて' %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "New Reservation", new_reservation_path, method: :get %>
    </div>
  </div>
</div>

<% if @reservations.present? %>
<div class="reservations">
  <table class="index-table">
    <tr>
      <th>日付</th> <th>開始時刻</th> <th>終了時刻</th> <th>お客様名</th> <th>メニュー</th> <th>担当</th> <th>最終更新日時</th>
    </tr>
  <%= render partial: 'reservation', collection: @reservations %>
  <table>
</div>
<% else%>
<div class="reservations-none">
  <div class="reservation-none">
  <%= '予約情報はありません。ご予約をお待ちしております。' %>
  </div>
</div>
<% end %>
