<div class="wrapper">
  <div class="side-bar">
    <%= render "reservations/side_bar" %>
  </div>
  <div class="reservation-main">
    <div class="reservation-main-header">
      <div class="left-header">
        <div class="header-title">
          <b>Welcome to "Original App 32479 Beauty Salon"</b>
        </div>
      </div>
      <div class="right-header">
      </div>
    </div>
    <div class="top-page">
      <%= image_tag 'building_biyouin.png', size: "360x360", class: "top-img-file" %>
      <div class="title">
        オリジナルアプリ32479美容室へようこそ
      </div>
      <div class="text">
        (営業時間) 10:00 から 18:00 まで  (定休日) 毎週火曜日
      </div>
      <div class="message">
        左側の担当者をクリックするとご予約いただけます
      </div>
      <div class="copy-right">
        (c) 2021 Original App 32479 Beauty Salon. All rights reserved. 
      </div>
    </div>
  </div>
</div>
