.reservation-page .reservation-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.reservation-page .reservation-page__inner .reservation-page__inner--left, .reservation-page .reservation-page__inner .reservation-page__inner--right {
  float: left;
  width: 50%;
}
.reservation-page .reservation-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.reservation-page .reservation-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.reservation-page .reservation-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.reservation-page .reservation-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.reservation-page .reservation-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.reservation-page .field {
  margin-bottom: 10px;
}
.reservation-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.reservation-page .field .field-label i {
  font-size: 11px;
}
.reservation-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.reservation-page .field-parent {
  display: flex;
  justify-content: space-between;
}
.reservation-page .field-child {
  margin-bottom: 10px;
  margin-right: 15px;
}
.reservation-page .field-child .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.reservation-page .field-child .field-label i {
  font-size: 11px;
}
.reservation-page .field-child .field-input input {
  width: 225px;
  padding: 10px;
  letter-spacing: 1px;
}
.reservation-page .select-start-time, .year {
  height: 40px;
  width: 80px;
  font-size: 20px;
  background-color: #f5f5f5;
  margin-right: 5px;
}
.reservation-page .select-start-time, .month, .day, .hour, .minute {
  height: 40px;
  width: 55px;
  font-size: 20px;
  background-color: #f5f5f5;
  margin-left: 15px;
  margin-right: 5px;
}
.reservation-page .select-box {
  height: 40px;
  width: 100%;
  font-size: 20px;
  background-color: #f5f5f5;
  padding-left: 20px;
}
.reservation-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.reservation-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.reservation-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.reservation-page .field-input .field_with_errors {
  position: relative;
}
.reservation-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/********** 一覧ページ **********/
.wrapper{
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.side-bar-header{
  height: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: solid 1px white; */
}
.header-name a{
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}
.log-out{
  font-size: 14px;
}
.log-out a{
  padding: 14px;
  color: #253141;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}
.staffs{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  /* overflow: scroll; */
}
.staff{
  padding: 20px 0 40px;
}
.staff-name a{
  text-decoration: none;
  color: white;
}
.reservation-main{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.reservation-main-header{
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}
.header-title{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}
.header-button{
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  color: darkred;
  padding: 20px;
  color: #fff;
  background-color: #253141;
  border-radius: 5px;
}
.reservations{
  height: calc(100vh - 100px);
  background-color: #fafafa;
  padding: 0 40px;
  overflow: scroll;
}
.reservation {
  margin: 10px 0 0 0;
}
.reservations-none {
  height: calc(100vh - 100px);
  background-color: #fafafa;
  padding: 0 40px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation-none {
  font-size: large;
}
.upper-message{
  display: flex;
}
.message-user {
  color: #434a54;
  font-size: 16px;
}
.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.lower-message {
  margin-top: 10px;
}
.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.hidden {
  display: none;
}

/********** 表 **********/
table{
  width: 100%;
}
table th{
  padding : 10px 10px;
  border-bottom: solid 2px #253141;
}
table td{
  padding : 10px 10px;
  border-bottom: solid 1px #aaaaaa;
  text-align: center;
}